<a href="https://colab.research.google.com/github/aman-theanalyst/Data-Science-Journey/blob/main/2_Operators_Conditional_Statement%2BLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

Operators in general are used to perform operations on values and variables.

Operators: Special symbols like -, + , * , /, etc.  
Operands: Value on which the operator is applied.

---

1. Arithmetic Operators
2. Relational Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment operators
6. Membership Operators

In [ ]:
# Arithmetic Operators -- Used for basic mathematical operations

a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b) # Integer division
print("Modulus:", a % b)
print("Exponent:", a ** b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponent: 1000

In [ ]:
# Relational Operators -- Used to compare values and return True or False

x = 5
y = 8

print("Equal:", x == y)
print("Not equal:", x != y)
print("Greater than:", x > y)
print("Less than:", x < y)
print("Greater or equal:", x >= y)
print("Less or equal:", x <= y)

In [ ]:
# Logical Operators -- Used to combine conditional statement

p = True
q = False

print("AND:", p and q)  # False
print("OR:", p or q)    # True
print("NOT p:", not p)  # False

AND: False
OR: True
NOT p: False

In [ ]:
# Bitwise Operators -- Operate at the binary level

a = 5  # 0101 in binary
b = 3  # 0011 in binary

print("AND:", a & b)  # 1 (0001)
print("OR:", a | b)   # 7 (0111)
print("XOR:", a ^ b)  # 6 (0110)
print("NOT a:", ~a)   # -6 (two's complement)
print("Left shift:", a << 1)  # 10 (1010)
print("Right shift:", a >> 1) # 2  (0010)

In [ ]:
# Assignement Operators -- Used to assign values to variable

num = 10

num += 5   # num = num + 5
print("Add and assign:", num)  # 15

num *= 2   # num = num * 2
print("Multiply and assign:", num)  # 30

num //= 4  # num = num // 4
print("Floor divide and assign:", num)  # 7


# ++a or a++ is not valid in python

In [ ]:
# Membership Operators -- Check if a value is present in a sequence

my_list = [1, 2, 3, 4, 5]

print("Is 3 in list?", 3 in my_list)       # True
print("Is 6 not in list?", 6 not in my_list) # True

In [ ]:
# Identity Operators

x = [1, 2, 3]
y = x
z = [1, 2, 3]

print("x is y:", x is y)       # True (same object)
print("x is z:", x is z)       # False (different objects)
print("x == z:", x == z)       # True (same values)


#   == → checks value equality
#   is → checks object identity

In [ ]:
# Program - Find sum of digits of a 3-digit number (without loops or if-else)

# Input from user
num = int(input("Enter a 3-digit number: "))

# Extract digits using arithmetic
hundreds = num // 100       # First digit
tens = (num // 10) % 10     # Second digit
units = num % 10            # Third digit

# Sum of digits
sum_of_digits = hundreds + tens + units

# Display result
print("Sum of digits:", sum_of_digits)

Enter a 3-digit number: 364
Sum of digits: 13

# Conditional Statements

Conditional statements in Python are used to execute certain blocks of code based on specific conditions.     
These statements help control the flow of a program, making it behave differently in different situations.

In [ ]:
# If Statement

age = 20
if age >= 18:
    print("Eligible to vote.")

# Shorthand if
age = 19
if age > 18: print("Eligible to Vote.")

Eligible to vote.
Eligible to Vote.

In [ ]:
# If-Else Statement

age = 10
if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")


# Shorthand If-else

marks = 45
res = "Pass" if marks >= 40 else "Fail"
print(f"Result: {res}")

Travel for free.
Result: Pass

In [ ]:
# elif Statement

age = 25

if age <= 12:
    print("Child.")
elif age <= 19:
    print("Teenager.")
elif age <= 35:
    print("Young adult.")
else:
    print("Adult.")

Young adult.

In [ ]:
# Nested if-else

email = input('enter email')
password = input('enter password')

if email == 'nitish.campusx@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'nitish.campusx@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('Welcome, finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

enter emailamann4204@gmail.com
enter password1234
Not correct

In [ ]:
# Program -- Find min of 3 given number

a = int(input('first num : '))
b = int(input('second num : '))
c = int(input('third num : '))

if a<b and a<c:
  print('Smallest number is',a)
elif b<c:
  print('Smallest number is',b)
else:
  print('Smallest number is',c)

first num : 20
second num : 20
third num : 20
Smallest number is 20

In [ ]:
# Match-case

# Input numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Input operation
print("Select operation: +, -, *, /")
operation = input("Enter operation: ")

# Perform calculation using match-case
match operation:
    case '+':
        result = num1 + num2
    case '-':
        result = num1 - num2
    case '*':
        result = num1 * num2
    case '/':
        # Handle division by zero
        if num2 != 0 :
            result = num1 / num2
        else:
            result = "Error! Division by zero."
    case _:  # Default case for invalid operator
        result = "Invalid operation!"

# Display result
print("Result:", result)

Enter first number: 5
Enter second number: 4
Select operation: +, -, *, /
Enter operation: *
Result: 20.0

# Modules In Python

*   math
*   keywords
*   datetime
*   random

In [ ]:
# math -- The math module in Python is a built-in module that provides mathematical functions and constants.

import math

a = math.factorial(5)
b = math.floor(6.8)
c = math.sqrt(9)

print(a, b, c, sep='\n')

120
6
3.0

In [ ]:
# keyword -- keyword module is a built-in module that helps you work with Python keywords.

import keyword

# Check if a string is a keyword
print(keyword.iskeyword("if"))
print(keyword.iskeyword("while"))
print(keyword.iskeyword("myVar"))
print('\n')

# List all Python keywords
print(keyword.kwlist)

True
True
False


['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random -- used to generate random numbers, selections, or sequences.

import random

print("Random float:", random.random())
print("Random integer 1-10:", random.randint(1, 10))
print("Random choice from list:", random.choice(['red','green','blue']))

| Function                   | Description                                                    | Example                                               |
| -------------------------- | -------------------------------------------------------------- | ----------------------------------------------------- |
| `random.random()`          | Returns a random float between 0.0 and 1.0                     | `print(random.random())`                              |
| `random.randint(a, b)`     | Returns a random integer between `a` and `b` (inclusive)       | `print(random.randint(1, 10))`                        |
| `random.choice(seq)`       | Returns a random element from a sequence                       | `print(random.choice(['apple', 'banana', 'cherry']))` |
| `random.choices(seq, k=n)` | Returns `n` random elements from a sequence (with replacement) | `print(random.choices([1,2,3,4], k=2))`               |
| `random.shuffle(seq)`      | Shuffles a list **in-place**                                   | `lst = [1,2,3]; random.shuffle(lst)`                  |
| `random.sample(seq, k)`    | Returns `k` unique random elements from a sequence             | `print(random.sample([1,2,3,4], 2))`                  |



---

In [ ]:
# datetime -- used for working with dates and times, performing calculations, and formatting.

import datetime

# Current date and time
now = datetime.datetime.now()
print("Current date & time:", now)

# Today’s date
today = datetime.date.today()
print("Today:", today)

# Add 5 days
future = today + datetime.timedelta(days=5)
print("Date after 5 days:", future)

# Format date
formatted = now.strftime("%d-%m-%Y %H:%M:%S")
print("Formatted date & time:", formatted)

Current date & time: 2025-10-18 17:53:26.908964
Today: 2025-10-18
Date after 5 days: 2025-10-23
Formatted date & time: 18-10-2025 17:53:26

# Loops In Python

Loops in Python are used to repeat actions efficiently.

In [ ]:
# for loop

n = 4
for i in range(0,n):        # in range, 1st one is included & 2nd one is excluded
  print(n*i)

print('------------------------')

# iterating using  index
li = ["aman","singh","negi"]
for index in range(len(li)):
    print(li[index])

0
4
8
12
------------------------
aman
singh
negi

In [ ]:
# Iterating Over List, Tuple, String and Dictionary Using for Loops

li = ["aman","singh","negi"]
for x in li:
    print(x)

print('------------------------')

tup = ("aman","singh","negi")
for x in tup:
    print(x)

print('------------------------')

s = "aman"
for x in s:
    print(x)

print('------------------------')

d = dict({'x':123, 'y':354})
for x in d:
    print("%s  %d" % (x, d[x]))

print('------------------------')

set1 = {10, 30, 20}
for x in set1:
    print(x),

aman
singh
negi
------------------------
aman
singh
negi
------------------------
a
m
a
n
------------------------
x  123
y  354
------------------------
10
20
30

In [ ]:
# While loop
# While loop is used to execute a block of statements repeatedly until a given condition is satisfied.

cnt = 0
while (cnt < 3):
    cnt = cnt + 1
    print(f"Hello Student {cnt}")

Hello Student 1
Hello Student 2
Hello Student 3

In [ ]:
# Infinite while loop

while (True):
    print("Hello Geek")

In [2]:
# Nested For loop

for i in range(1, 5):
    for j in range(1,4):
        print(i, end=' ')
    print()

1 1 1
2 2 2
3 3 3
4 4 4

In [3]:
# Nested For loop

for i in range(1, 5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
import random

print("🎉 Welcome to the Number Guessing Game! 🎉")
print("I'm thinking of a number between 1 and 100. Can you guess it?")

# Generate random number
secret_number = random.randint(1, 100)

# Initialize variables
guess = None
attempts = 0

# Game loop
while guess != secret_number:
    guess = int(input("Enter your guess: "))
    attempts += 1

    if guess < secret_number:
        print("⬆ Too low! Try again.")
    elif guess > secret_number:
        print("⬇ Too high! Try again.")
    else:
        print(f"🎉 Congratulations! You guessed the number {secret_number} in {attempts} attempts.")

🎉 Welcome to the Number Guessing Game! 🎉
I'm thinking of a number between 1 and 100. Can you guess it?
Enter your guess: 50
⬆ Too low! Try again.
Enter your guess: 95
⬇ Too high! Try again.
Enter your guess: 75
⬇ Too high! Try again.
Enter your guess: 62
⬇ Too high! Try again.
Enter your guess: 68
⬇ Too high! Try again.
Enter your guess: 65
⬇ Too high! Try again.
Enter your guess: 63
⬇ Too high! Try again.
Enter your guess: 64
⬇ Too high! Try again.
Enter your guess: 55
⬆ Too low! Try again.
Enter your guess: 60
🎉 Congratulations! You guessed the number 60 in 10 attempts.

# Loop Control Statements

*   continue
*   break
*   pass

In [ ]:
# Continue Statement -- Skip the current iteration and move to the next iteration of the loop

# Example: Skip number 5
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [ ]:
# break -- Exit the loop immediately, even if the loop condition is still True

# Example: Stop loop when number is 4
for i in range(1, 10):
    if i == 4:
        break
    print(i)

1
2
3

In [ ]:
# pass -- Does nothing, acts as a placeholder [write empty loops]

for letter in 'Roll No. 8':
    pass
print('Last Letter :', letter)

Last Letter : 8

# Question

In [1]:
'''
Sequence sum
1/1! + 2/2! + 3/3! + ...
'''

n = int(input('Enter n : '))

result = 0
fact = 1      # running factorial value

for i in range(1, n+1):
  fact = fact * i
  result = result + i/fact

print(result)

Enter n : 3
2.5

In [4]:
'''
Print Sequence

1
121
12321
1234321
'''

n =int(input('Enter number of rows : '))

for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end='')
  for k in range(i-1, 0, -1):
    print(k, end='')
  print()

Enter number of rows : 5
1
121
12321
1234321
123454321

In [6]:
# Print all prime numbers between 1 and 100

for num in range(2, 101):  # Start from 2 since 1 is not a prime number
    is_prime = True

    for i in range(2, int(num ** 0.5) + 1):  # Check divisibility up to sqrt(num)
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97