<a href="https://colab.research.google.com/github/aman-theanalyst/Data-Science-Journey/blob/main/Python/1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Why Python?**  

1. Easy to Learn and Read   

1. Its ability to express concepts in fewer lines of code.

3. Huge number of library in Python

2. Versatile - Python can be used for almost anything

3. Massive Community & Libraries

# 1. Python Output

In [ ]:
# Print anything

print('Hello World!!')

Hello World!!

In [ ]:
print(7.5)

7.5

In [ ]:
print('Hello', 1, 3.5, True)

# changing the seperator i.e. " " to "/"
print('Hello', 1, 3.5, True, sep="/")

Hello 1 3.5 True
Hello/1/3.5/True

In [ ]:
# üëâ By default, print() adds a newline (\n) at the end.
print('Hello')
print('World')

print('\n')

# üëâ The end parameter changes what gets printed after the text.
print('Hello', end='-')
print('World')

Hello
World


Hello-World

# Data Types

[Data Type Flowchart![1.webp]()](https://media.geeksforgeeks.org/wp-content/uploads/20241210131752166623/Python-Data-Types.webp)

In [ ]:
#Integer
print(8)

# 1*10^308
print(1e309)

8
inf

In [ ]:
# Float/Decimal

print(8.55)
print(1.7e309)

8.55
inf

In [ ]:
# Boolean

print(True)
print(False)

True
False

In [ ]:
# String

print('Hello World')

Hello World

In [ ]:
# Complex Number

print(5+6j)

(5+6j)

In [ ]:
# List

# Empty list
a = []

# list with int values
a = [1, 2, 3]
print(a)

# list with mixed values int and String
b = ["Geeks", "For", "Geeks", 4, 5]
print(b)

[1, 2, 3]
['Geeks', 'For', 'Geeks', 4, 5]

In [ ]:
# Tuples

tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [ ]:
# Set

# initializing empty set
s1 = set()

s1 = set("GeeksForGeeks")
print("Set with the use of String: ", s1)

s2 = set(["Geeks", "For", "Geeks"])
print("Set with the use of List: ", s2)

Set with the use of String:  {'o', 'F', 's', 'e', 'r', 'k', 'G'}
Set with the use of List:  {'Geeks', 'For'}

In [ ]:
# Dictionary

# initialize empty dictionary
d = {}

d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d)

# creating dictionary using dict() constructor
d1 = dict({'name':'Aman',
    'gender':'Male',
    'weight':65})
print(d1)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{'name': 'Aman', 'gender': 'Male', 'weight': 65}

In [ ]:
# type() - print data type of the data

print(type(3.3))
print(type("Hello"))
print(type((1,5,8,45)))

<class 'float'>
<class 'str'>
<class 'tuple'>

## Comments

In [ ]:
# this is a single line comment

print('Single-line comment : #')
print('Multi-line comment : """----"""')

Single-line comment : #
Multi-line comment : """----"""

# Variables

In [ ]:
# Variables are used to store data that can be referenced and manipulated during program execution.
# A variable is essentially a name that is assigned to a value.

'''
Rules for Naming Variables:

1. Variable names can only contain letters, digits and underscores (_).
2. A variable name cannot start with a digit.
3. Variable names are case-sensitive (myVar and myvar are different).
4. Avoid using Python keywords (e.g., if, else, for) as variable names.
'''

In [ ]:
name = 'Aman Singh Negi'
print(name)

Aman Singh Negi

In [ ]:
a = 7
b = 24

print(a+b)

31

In [ ]:
# Dynamic Typing - you dont tell data type of var, interpreter automatically understands it.
a = 3.5

# Static Typing - you have to declare the data type of var
# int a = 34

In [ ]:
# Dyanmic Binding -- in Python - if 'a' is declared int, then it store other data type also.

a = 5
print(a)

a = 'aman'
print(a)

# Static Binding -- in C/C++ -- if 'a' is declared int, then thourhout program it will store int only

# int a = 5

5
aman

In [ ]:
# Stylish way of writing var

a, b, c = 1, 2, 3
print(a,b,c)

# assigning same value to multiple variables

a = b = c = 5
print(a,b,c)

1 2 3
5 5 5

# Keywords & Identifiers

In [ ]:
# Keywords are reserved words that have special meaning in Python.

# You can‚Äôt use them as variable names, function names, or identifiers.

# There are 32 Keywords in Python


# printing all keywords at once using "kwlist()"
import keyword

print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Identifiers

# the name you give to anything you define in Python ‚Äîlike a variable, function, class, or module.
# identifiers cannot be keywords

# Valid identifiers
_name = "Aman"
student1 = "Rahul"
totalMarks = 90
user_name = "Priya"

# Invalid identifiers
1st_number = 5     # ‚ùå starts with a number
my-name = "Alex"   # ‚ùå contains '-'
for = 7            # ‚ùå 'for' is a keyword

# User Input + Type Conversion

In [ ]:
# User input means taking data from the user during program execution ‚Äî like a name, age, or number.

name = input("Enter your name: ")
print("Hello,", name, "! Welcome!")

Enter your name: Aman
Hello, Aman ! Welcome!

In [ ]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")

sum = num1 + num2    # the input is by default string type
print(type(num1), type(num2))
print("The sum of", num1, "and", num2, "is", sum)

Enter the first number: 54
Enter the second number: 87
The sum of 54 and 87 is 5487

In [ ]:
# multiple input

x, y = input("Enter two numbers separated by space: ").split()
print("You entered:", x, "and", y)

Enter two numbers separated by space: 3 5
You entered: 3 and 5

In [ ]:
# Type Conversion -- means changing the data type of a variable

# Implicit vs Explicit
# Implicit - Python automatically converts one data type to another when needed.
# Explicit - You convert data types manually using built-in functions.

In [ ]:
# Implicit type conversion

num_int = 5        # int
num_float = 2.5    # float

result = num_int + num_float
print(result)       # 7.5
print(type(result)) # <class 'float'>

7.5
<class 'float'>

In [ ]:
# Explicit Type Conversion

num = "10"
num = int(num)
print(num + 5)


pi = 3.14159
text = str(pi)
print("Value of pi is " + text)


# Not all conversions are valid:
# 1. str to int
# 2. str to float
# 3. complex to int

15
Value of pi is 3.14159

# Literals

In [ ]:
# A literal is a fixed value in your code that is written exactly as it is.
# It represents data directly ‚Äî like numbers, text, or Boolean values ‚Äî without computation.


x = 10        # 10 is an integer literal
name = "Aman" # "Aman" is a string literal
pi = 3.14     # 3.14 is a float literal

# None Literal
m = None        # basically for declaration for future use
print(m)

print("/n")
# Number System

a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

print(a, b, c, d, sep="\n")

None
10
100
200
300

In [ ]:
# Numeric Literals

a = 100     # int literal
b = 3.14    # float literal
c = 1.5e2   # 1.5 * 10^2
d = 1.5e-3  # 1.5 * 10^-3
e = 2 + 3j  # complex literal

print(a, b, c, d, e, sep ="\n")

print(e, e.real, e.imag)

100
3.14
150.0
0.0015
(2+3j)
(2+3j) 2.0 3.0

In [ ]:
# String Literals

s1 = 'Hello'
char = "C"
s2 = "Hi"
multi_line_str = """This is
a multi-line string"""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n_string"

print(s1, char, s2, multi_line_str, unicode, raw_str, sep = "\n")

Hello
C
Hi
This is
a multi-line string
üòÄüòÜü§£
raw \n_string

In [ ]:
# Boolean Literals

a = True +4
b = False + 10

print("a: ", a)
print("b: ", b)

a:  5
b:  10