<a href="https://colab.research.google.com/github/aman-theanalyst/Data-Science-Journey/blob/main/Python/3_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Strings***

A String is a sequence of characters enclosed in quotes.    
It can include letters, numbers, symbols or spaces.

# Creating Strings

In [2]:
str1 = 'Hello'
str1 = "Hello"

# Multi line String
str2 = '''I am Learning
Python String'''
str2 = """I am Learning
Python String"""

print(str1)
print(str2)

Hello
I am Learning
Python String

# Accessing Substring

In [3]:
# +ve Indexing

str1 = "Hello World"

print(str1[2])
print(str1[8])

# Accessing an index out of range will cause an IndexError

l
r

In [6]:
# ve Indexing

str1 = "Hello World"

print(str1[-1])
print(str1[-5])

d
W

In [15]:
# Slicing : extracting a part (substring) of a string using the slice operator [:]
# string[start:end:step]


str1 = "Hello World"

print(str1[1:4])    # characters from index 1 to 3 [4 is excluded]
print(str1[:3])     # from start to index 2
print(str1[3:])     # from index 3 to end
print(str1[0:len(str1):2])  # every 2nd character

print('\n')

print(str1[-1])      #  last character
print(str1[-5:-1])
print(str1[-5:])     #  -5 to start(-1) , you cannot write -1 as it will not print d
print(str1[:-6])     #  end to -6
print(str1[::-1])    #  reversed string

ell
Hel
lo World
HloWrd


d
Worl
World
Hello
dlroW olleH

# Editing & Deleting the String

In [19]:
# String Immutability : means that they cannot be changed after they are created.

s = "Hello World!!"
# s[0] = 'H'       cannot be done as string are immutable

# you can edit a string using slicing, concatination,etc methods
s = "G" + s[1:]
print(s)

Gello World!!

In [21]:
# Deleting a String

str1 = "Hello World"
print(str1)
del str1

# print(str1) -- will give error as string is deleted

Hello World

In [22]:
# Deleting a part of string
# You can only delete a full string, not a part of string - gives error

s = 'hello world'
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

# Operation on Strings



*   Arithmetic Operators
*   Relational Operators
*   Logical Operators
*   Loops
*   Membership operators

In [23]:
# Arithmetic Operators

a = "Hello"
b = "World"

# Addition â†’ Concatenation
print(a + " " + b)     # Output: Hello World

# Multiplication â†’ Repetition
print(a * 3)            # Output: HelloHelloHello

Hello World
HelloHelloHello

In [30]:
# Relational Operators

x = "apple"
y = "banana"

print(x == y)   # False
print(x != y)   # True
print(x > y)    # False  (because 'a' < 'b')
print(x < y)    # True

print('\n')

print('delhi' == 'mumbai')
print('mumbai' != 'pune')
print('pune' < 'surat')    # lexographically
print('Pune' > 'pune')     # hexcode (P=85 and p=112)
print('surat' < 'ahmedabad')

False
True
False
True


False
True
True
False
False

In [31]:
# Logical Operators

a = "Python"
b = ""

print(bool(a))  # True  (non-empty string)
print(bool(b))  # False (empty string)

# Logical operations
print(a and b)  # Returns b (since a is True)
print(a or b)   # Returns a (since a is True)
print(not a)    # False

True
False

Python
False

In [32]:
# Loops in String

text = "Python"

# Using for loop
for ch in text:
    print(ch)

# Using while loop
i = 0
while i < len(text):
    print(text[i])
    i += 1

P
y
t
h
o
n
P
y
t
h
o
n

In [33]:
# Membership Operator

text = "Learning Python is fun!"

print("Python" in text)      # True
print("Java" not in text)    # True
print("Learn" in text)       # True

True
True
True

# Common Function

*   len
*   max -- Returns the character with the highest Unicode (ASCII) value.
*   min -- eturns the character with the lowest Unicode value.  
*   sorted -- Returns a list of characters sorted in ascending order by default.

In [35]:
text = "PythonProgramming"

print(len(text))   # Output: 18
print(max(text))   # Output: y
print(min(text))   # Output: P

print(sorted(text))          # Output: ['h', 'n', 'o', 'p', 't', 'y']
print(''.join(sorted(text))) # Output: hnopty

print(sorted(text, reverse=True))  # Output: ['y', 't', 'p', 'o', 'n', 'h']

17
y
P
['P', 'P', 'a', 'g', 'g', 'h', 'i', 'm', 'm', 'n', 'n', 'o', 'o', 'r', 'r', 't', 'y']
PPagghimmnnoorrty
['y', 't', 'r', 'r', 'o', 'o', 'n', 'n', 'm', 'm', 'i', 'h', 'g', 'g', 'a', 'P', 'P']

# Capitalize/Title/Upper/Lower/Swapcase

In [39]:
s = 'hello world'

# Capitalize first letter only
print(s.capitalize())

# Capitalize first letter of each word
print(s.title())

# Capitalize all letter
print(s.upper())

# lowercase every letter
print(s.lower())

s1 = 'HeLlO WorLD'
s1.swapcase()
print(s1)

Hello world
Hello World
HELLO WORLD
hello world
HeLlO WorLD

# Count/Find/Index

| Function  | Purpose                    | Return Value if Not Found |
| --------- | -------------------------- | ------------------------- |
| `count()` | Counts occurrences         | `0`                       |
| `find()`  | Finds first index          | `-1`                      |
| `index()` | Finds first index (strict) | âŒ Raises Error            |

In [45]:
text = "python programming is fun and python is powerful"

print(text.count("python"))      # Output: 2
print(text.count("is"))          # Output: 2
print(text.count("z"))           # Output: 0

2
2
0

In [46]:
text = "Python programming"

print(text.find("P"))        # Output: 0
print(text.find("pro"))      # Output: 7
print(text.find("x"))        # Output: -1

0
7
-1

In [47]:
text = "Python programming"

print(text.index("P"))     # Output: 0
print(text.index("gram"))  # Output: 10

# print(text.index("x"))   # âŒ Error: ValueError: substring not found

0
10

# endswith/startswith

In [49]:
# startswith() -- Checks if a string starts with a given substring. ðŸ‘‰ Returns True or False.

text = "Python programming is fun"

print(text.startswith("Python"))   # True
print(text.startswith("python"))   # False (case-sensitive)
print(text.startswith("Pyt"))      # True

# You can also specify start and end positions:
print(text.startswith("programming", 7, 18))  # True

True
False
True

In [50]:
# endswith() -- Checks if a string ends with a given substring. ðŸ‘‰ Returns True or False.

text = "Python programming is fun"

print(text.endswith("fun"))        # True
print(text.endswith("Fun"))        # False (case-sensitive)
print(text.endswith("ing"))        # False (whole string ends with "fun")

# Can also limit the checking range
print(text.endswith("programming", 0, 18))  # True

True
False
False
True

# format

In [51]:
# format()

name = "Aman"
age = 21

print("My name is {} and I am {} years old.".format(name, age))

# Using Positional Indexes
print("{1} is learning {0}".format("Python", "Aman"))

# Using Named Placeholders
print("My name is {name} and I love {lang}.".format(name="Aman", lang="Python"))

# Formatting Numbers
pi = 3.1415926
print("Value of pi is {:.2f}".format(pi))    # 2 decimal places


# Formatting with f-strings (modern alternative)
name = "Aman"
age = 21
print(f"My name is {name} and I am {age} years old.")

My name is Aman and I am 21 years old.
Aman is learning Python
My name is Aman and I love Python.
Value of pi is 3.14
My name is Aman and I am 21 years old.

# isalnum/ isalpha/ isdigit/ isidentifier

| Method           | Description                |
| ---------------- | -------------------------- |
| `isalnum()`      | Letters or digits          |
| `isalpha()`      | Letters only               |
| `isdigit()`      | Digits only                |
| `isidentifier()` | Valid Python variable name |

In [53]:
# isalnum() â€“ Alphanumeric Check
# Returns True if all characters in the string are letters or numbers and thereâ€™s at least one character.

s1 = "Python123"
s2 = "Python 123"
s3 = "123"
s4 = "Python"

print(s1.isalnum())   # True
print(s2.isalnum())   # False (space is not allowed)
print(s3.isalnum())   # True
print(s4.isalnum())   # True

True
False
True
True

In [54]:
# isalpha() â€“ Alphabetic Check
# Returns True if all characters are letters only and thereâ€™s at least one character.

s1 = "Python"
s2 = "Python123"
s3 = "123"

print(s1.isalpha())   # True
print(s2.isalpha())   # False
print(s3.isalpha())   # False

True
False
False

In [55]:
# isdigit() â€“ Digit Check
# Returns True if all characters are digits only.

s1 = "12345"
s2 = "Python123"
s3 = "12.3"

print(s1.isdigit())   # True
print(s2.isdigit())   # False
print(s3.isdigit())   # False (dot is not digit)

True
False
False

In [56]:
#  isidentifier() â€“ Valid Identifier Check
# Returns True if the string is a valid Python variable name:
# Starts with a letter or underscore, Can contain letters, numbers, underscores, no Python keyword

s1 = "my_var"
s2 = "123var"
s3 = "var123"
s4 = "for"   # keyword

print(s1.isidentifier())  # True
print(s2.isidentifier())  # False
print(s3.isidentifier())  # True
print(s4.isidentifier())  # True (isidentifier True, but 'for' is keyword)

True
False
True
True

# Split/Join

| Method    | Purpose                  | Example                   | Output          |
| --------- | ------------------------ | ------------------------- | --------------- |
| `split()` | Break string into list   | `"a,b,c".split(",")`      | `['a','b','c']` |
| `join()`  | Combine list into string | `"-".join(['a','b','c'])` | `'a-b-c'`       |


split() â†’ string â†’ list   
join() â†’ list â†’ string

In [57]:
# split() â€“ Break a string into a list
# Splits a string into substrings based on a separator.
# Default separator: whitespace.
# Returns a list of substrings.

text = "Python is fun"

# Default split by space
words = text.split()
print(words)  # Output: ['Python', 'is', 'fun']

# Split by a specific character
csv = "apple,banana,orange"
fruits = csv.split(",")
print(fruits)  # Output: ['apple', 'banana', 'orange']

# Limit number of splits
text2 = "one two three four"
print(text2.split(" ", 2))  # Output: ['one', 'two', 'three four']

['Python', 'is', 'fun']
['apple', 'banana', 'orange']
['one', 'two', 'three four']

In [58]:
#  join() â€“ Combine a list into a string
# Joins elements of a list (or iterable) into a string.
# Syntax: separator.join(list)

words = ['Python', 'is', 'fun']

# Join with space
sentence = " ".join(words)
print(sentence)  # Output: Python is fun

# Join with comma
csv = ",".join(words)
print(csv)  # Output: Python,is,fun

Python is fun
Python,is,fun

# Replace

In [ ]:
# replace() â€“ Replace Substrings
# Syntax: string.replace(old, new, count)


text = "Python is fun. Python is easy."

# Replace all occurrences
new_text = text.replace("Python", "Java")
print(new_text)
# Output: Java is fun. Java is easy.

# Replace only first occurrence
new_text2 = text.replace("Python", "Java", 1)
print(new_text2)
# Output: Java is fun. Python is easy.

# Strip

In [59]:
# strip() â€“ Remove leading and trailing characters
# string.strip(chars)

text = "   Python Programming   "

# Remove spaces from start and end
print(text.strip())
# Output: 'Python Programming'

# Remove specific characters
text2 = "###Python###"
print(text2.strip("#"))
# Output: 'Python'

# Remove multiple characters
text3 = "**@@Python@@**"
print(text3.strip("*@"))
# Output: 'Python'

Python Programming
Python
Python

| Method     | Description                                   |
| ---------- | --------------------------------------------- |
| `lstrip()` | Removes characters from **start** (left) only |
| `rstrip()` | Removes characters from **end** (right) only  |

In [60]:
text = "   Hello World   "

print(text.lstrip())  # 'Hello World   '
print(text.rstrip())  # '   Hello World'

Hello World
   Hello World

# **Exercise**

In [63]:
# Find the length of a given string without using the len() function

str = input("Enter the number of strings: ")
cnt = 0;

for i in str:
  cnt += 1

print("The length of string is : ",cnt)

Enter the number of strings: mhffhhjv
The length of string is :  8

In [64]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

str = input("Enter the email: ")
pos = str.index("@")
print(str[:pos])

Enter the email: amannegi@gmail.com
amannegi

In [71]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

str = input("Enter the String : ")
char = input('Which character are you searching : ')

# 1
cnt = str.count(char)
print(cnt)

# 2
counter = 0
for i in str:
  if i == char:
    counter += 1

print(f'frequency of char {char} : ',counter)

Enter the String : nbhgftsh
Which character are you searching : h
2
frequency of char h :  2

In [72]:
# Write a program which can remove a particular character from a string.

str = input("Enter the String : ")
char = input('Which character are you searching : ')

new_str = str.replace(char,'')
print(new_str)

Enter the String : amansingh
Which character are you searching : s
amaningh

In [73]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

str = input("Enter the String : ")

if str == str[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")


'''

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

'''

Enter the String : aman
Not Palindrome

In [74]:
# Write a program to count the number of words in a string without split() and print all parts

str = input("Enter the String : ")
lst = []
temp = ''
cnt = 0

for i in str:
  if i != ' ':
    temp += i
  else:
    cnt += 1
    lst.append(temp)
    temp = ''

lst.append(temp)

print("Total no of words in string :", cnt + 1)
print("Words in string", lst)

Enter the String : aman sigh negi is a boy
Total no of words in string : 6
Words in string ['aman', 'sigh', 'negi', 'is', 'a', 'boy']

In [75]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the stringaman singh
Aman Singh