<a href="https://colab.research.google.com/github/aman-theanalyst/Data-Science-Journey/blob/main/Python/4_Lists_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List in Python**

A list is a built-in data structure that can hold an ordered collection of items.

Python lists are very flexible:
*   Can contain duplicate items
*   Mutable: items can be modified, replaced, or removed
*   Ordered: maintains the order in which items are added
*   Index-based: items are accessed using their position (starting from 0)
*   Can store mixed data types (integers, strings, booleans, even other lists)

**List vs Array**

| Feature                     | List                   | Array (`array` / `numpy`)         |
| --------------------------- | ---------------------- | --------------------------------- |
| **Module**                  | Built-in               | `array` or `numpy`                |
| **Data Type**               | Can mix types          | Single data type                  |
| **Speed**                   | Slower                 | Faster                            |
| **Memory Usage**            | More                   | Less                              |
| **Mathematical Operations** | Not directly supported | Supported (especially with NumPy) |
| **Flexibility**             | Very flexible          | Optimized for numeric data        |


**Characterstics of a List**

*   Ordered
*   Changeble/Mutable
*   Hetrogeneous
*   Can have duplicates
*   are dynamic
*   can be nested
*   items can be accessed
*   can contain any kind of objects in python

# Creating a List

In [ ]:
# 1.Using square bracket

a = [1, 2, 3, 4, 5]                 # List of integers
b = ['apple', 'banana', 'cherry']   # List of strings
c = [1, 'hello', 3.14, True]        # Mixed data types

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [ ]:
# 2.Using list() Constructor

a = list((1, 2, 3, 'apple', 4.5))
print(a)

b = list("GFG")
print(b)

[1, 2, 3, 'apple', 4.5]
['G', 'F', 'G']

In [ ]:
# 3.Creating List with Repeated Elements

a = [2] * 5       # [2,2,2,2,2]
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

In [ ]:
# Other ways

# Empty
print([])

# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])

# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
['h', 'e', 'l', 'l', 'o']

# Accessing the Elements

In [ ]:
# Positive & Negative Indexing

a = [10, 20, 30, 40, 50]
print(a[0])     # first element
print(a[-1])    # last element
print(a[1:4])   # elements from index 1 to 3
print(a[-3:-1])   # every second element

# Slicing
print(a[::-1])

10
50
[20, 30, 40]
[30, 40]
[50, 40, 30, 20, 10]

In [1]:
# Check if Item Exists

thislist = ["apple", "banana", "cherry"]

if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Modifying the List

**Adding Elements into List**

*   append(): Adds an element at the end of the list.
*   extend(): Adds multiple elements to the end of the list.
*   insert(): Adds an element at a specific position.

In [ ]:
# append - To add an item to the end of the list
L = [1,2,3,4,5]
L.append(True)
print(L)

# extend - does not have to append lists, you can add any iterable object
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

# insert - to insert at specified index
L = [1,2,3,4,5]
L.insert(1,100)
print(L)

[1, 2, 3, 4, 5, True]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 100, 2, 3, 4, 5]

**Updating Elements into List**

Since lists are mutable, we can update elements by accessing them via their index.

In [ ]:
L = [1,2,3,4,5]

# editing with indexing
L[0] = 10
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[10, 200, 300, 400, 500]

In [3]:
# If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [4]:
# The length of the list will change when the number of items inserted does not match the number of items replaced.

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

**Deleting items from a List**

We can remove elements from a list using:


*   remove(): Removes the first occurrence of an element.
*   pop(): Removes the element at a specific index or the last element if no index is specified.
*   del statement: Deletes an element at a specified index.
*   clear(): removes all items.

In [ ]:
# using del Keyword -  removes the specified index

L = [1,2,3,4,5]

# indexing
del L[-1]       # remove last element

# slicing
del L[1:3]
print(L)

[1, 4]

In [ ]:
# using remove() - 1st occurence of specified item

L = [1,2,3,4,5]

L.remove(3)
print(L)

[1, 2, 4, 5]

In [ ]:
# using pop() - removes the specified index, if not specified then remove last element.

L = [1,2,3,4,5]

L.pop()
print(L)

[1, 2, 3, 4]

In [ ]:
# using clear() - empties the list.

L = [1,2,3,4,5]

L.clear()
print(L)

[]

# Join List

In [9]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [8]:
# Using append()

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [10]:
# Using extend()

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Operation on List

*   Arithmetic
*   Membership
*   Loop

In [ ]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Membership

L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [7]:
# Loops

L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in range(len(thislist)):          # loop through the list items by referring to their index number
  print(thislist[i])

print("--------------------------------")

for i in L3:                        #  loop through the list items
  print(i)

print("--------------------------------")

for i in L3:      # display each element
  for j in i:
    for k in j:
      print(k)

apple
banana
cherry
--------------------------------
[[1, 2], [3, 4]]
[[5, 6], [7, 8]]
--------------------------------
1
2
3
4
5
6
7
8

In [6]:
# While loop

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# List Function

1️⃣ len() — Length of List   
2️⃣ min() — Smallest Element    
3️⃣ max() — Largest Element    
4️⃣ sorted() — Sorts Elements

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [ ]:
# Numbers → gives smallest number
# Strings → smallest in alphabetical order

letters = ["z", "a", "k"]
print(min(letters))
print(max(letters))

numbers = [5, 2, 9, 1]
print(min(numbers))
print(max(numbers))

a
z
1
9

In [ ]:
# Ascending Order

numbers = [5, 2, 9, 1]
sorted_nums = sorted(numbers)
print(sorted_nums)
print(numbers)

[1, 2, 5, 9]
[5, 2, 9, 1]

In [ ]:
# Descending Order

sorted_nums = sorted(numbers, reverse=True)
print(sorted_nums)

[9, 5, 2, 1]

In [ ]:
# count()

L = [1,2,1,3,4,1,5]
L.count(1)

3

In [ ]:
# index()

L = [1,2,1,3,4,1,5]
L.index(5)
print("Index of element 5 : ", L.index(5))
print("Index of element 1 : ", L.index(1))

Index of element 5 :  6
Index of element 1 :  0

In [ ]:
# reverse()

L = [2,1,5,7,0]
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort -- only list
# Changes (modifies) the original list → in-place sorting

numbers = [5, 3, 1, 4, 2]
print("Original array : ", numbers)
numbers.sort()
print("Array after sort() : ", numbers)

print("--------------------------------")
# sorted -- Works with any iterable
# Does not modify the original data

numbers = [5, 3, 1, 4, 2]

new_list = sorted(numbers)
print("Original array : ", numbers)
print("Array after sorted() : ", new_list)    # Original list unchanged

Original array :  [5, 3, 1, 4, 2]
Array after sort() :  [1, 2, 3, 4, 5]
--------------------------------
Original array :  [5, 3, 1, 4, 2]
Array after sorted() :  [1, 2, 3, 4, 5]

# Shallow Copy vs DeepCopy

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

In [ ]:
# Shallow Copy
# Creates a new outer list, but inner objects are still shared (copied by reference).

import copy

list1 = [[1, 2], [3, 4]]
list2 = list1.copy()     # or copy.copy(list1)

list2[0][0] = 100
print("After Changes")
print("Original list : ",list1)  # [[100, 2], [3, 4]]  ← changed inside
print("Copied list : ",list2)  # [[100, 2], [3, 4]]

Original list :  [[100, 2], [3, 4]]
Copied list :  [[100, 2], [3, 4]]

In [ ]:
# deepcopy() — Full Independent Copy
# Creates a completely independent clone — both outer and inner objects are copied

import copy

list1 = [[1, 2], [3, 4]]
list2 = copy.deepcopy(list1)

list2[0][0] = 100
print("After Changes")
print("Original list : ",list1)  # [[1, 2], [3, 4]]  ← unchanged
print("Copied list : ",list2)  # [[100, 2], [3, 4]]

After Changes
Original list :  [[1, 2], [3, 4]]
Copied list :  [[100, 2], [3, 4]]

# List Comprehension

List Comprehension provides a concise way of creating lists.

> newlist = [expression for item in iterable if condition == True]

Advantages of List Comprehension

*   More time-efficient and space-efficient than loops.
*   Require fewer lines of code.
*   Transforms iterative statement into a formula.

In [ ]:
# Add 1 to 10 number

L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalar multiplication on a vector

v = [2,3,4]
s = -3

[s*i for i in v]

[-6, -9, -12]

In [ ]:
# squares of element

L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

# 2 ways to traverse a list

*   itemwise
*   indexwise

In [ ]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [ ]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

# Zip

zip() combines two or more iterables (like lists, tuples, strings, etc.) element by element into pairs (tuples).

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [ ]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

print(list(zip(L1,L2)) )

[i+j for i,j in zip(L1,L2)]

[(1, -1), (2, -2), (3, -3), (4, -4)]

[0, 0, 0, 0]

**Disadvantages of Python Lists**   
Slow   
Risky usage   
eats up more memory