<a href="https://colab.research.google.com/github/aman-theanalyst/Data-Science-Journey/blob/main/Python/5_Tuples_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples**

Tuples are used to store multiple items in a single variable.

A tuple can contain different data types.   
Tuples are written with round brackets.        
In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

**Characterstics** :
*   Ordered   
*   Unchangeble
*   Allows duplicate

# Creating Tuples

In [4]:
# Basic tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

# empty
t1 = ()
print(t1)

# create a tuple with a single item - remember to put , at last
t2 = ('hello',)
print(t2)
print(type(t2))

# Creating a Tuple with repetition
tup1 = ('Geeks',) * 3
print(tup1)

('apple', 'banana', 'cherry')
()
('hello',)
<class 'tuple'>
('Geeks', 'Geeks', 'Geeks')

In [3]:
# using type conversion
t6 = tuple('hello')
print(t6)

# Using List
li = [1, 2, 4, 5, 6]
print(tuple(li))

('h', 'e', 'l', 'l', 'o')
(1, 2, 4, 5, 6)

In [2]:
# homo
t3 = (1,2,3,4)
print(t3)

(1, 2, 3, 4)

In [1]:
# Creating a Tuple with Mixed Datatypes
A = (1, 'Geeks', 'For', 4, 1.2)
print(A)

# Creating a Tuple with nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')
tup3 = (tup1, tup2)
print(tup3)

(1, 'Geeks', 'For', 4, 1.2)
((0, 1, 2, 3), ('python', 'geek'))

# Accessing Item

*   Indexing
*   Slicing

In [11]:
#  indexing

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

banana
cherry

In [10]:
# Slicing

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

In [12]:
# Check if Item Exists

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Updating

*   Change Tuple Values
*   Add Items
*   Remove Item
*   Unpack Tuples

In [18]:
# Change Tuple Values

# Tuples are immutable - values cannot be changed
# Convert the tuple into a list, change the list, and convert the list back into a tuple.

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [17]:
# Add Items

# 1. Convert into a list
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

# 2. Add tuple to a tuple
thistuple = ("a", "b", "c")
y = ("o",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')
('a', 'b', 'c', 'o')

In [16]:
# Remove Item

# 1. Convert to list
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

# 2. Delete whole tuple
tup1 = ("apple", "banana", "cherry")
del tup1

('banana', 'cherry')

In [20]:
# Unpack Tuples

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)
print("----------")


# If the number of variables is less than the number of values, you can add an * to the variable name

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry
----------
apple
banana
['cherry', 'strawberry', 'raspberry']

In [33]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

# Operations on Tuples

In [21]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)
print(t1*3)


# membership
1 in t1

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

True

# Loops

In [23]:
# for loop

# 1. through tuple item
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

# 2. through index
thistuple = (5, 6.5, 12)
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry
5
6.5
12

In [24]:
# While loop

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# Tuple Functions

*   len()
*   min() - max()
*   sum()
*   sorted()
*   count()
*   index()

In [27]:
t = (1,2,3,4,6)

print(len(t))
print(sum(t))
print(min(t))
print(max(t))

sorted(t,reverse=True)

5
16
1
6

[6, 4, 3, 2, 1]

In [29]:
# count()

t = (1,2,4,5,5,3,4,5)
t.count(5)

3

In [32]:
# index() - print the index of 1st occurence

t = (1,2,4,5,5,3,4,5)
print(t.index(3))
print(t.index(5))

5
3

| Feature                                 | **List**                                                                              | **Tuple**                                                  |
| --------------------------------------- | ------------------------------------------------------------------------------------- | ---------------------------------------------------------- |
| **Syntax**                              | Defined using square brackets `[]`                                                    | Defined using parentheses `()`                             |
| **Example**                             | `my_list = [1, 2, 3]`                                                                 | `my_tuple = (1, 2, 3)`                                     |
| **Mutability**                          | ✅ Mutable (can be changed after creation)                                             | ❌ Immutable (cannot be changed after creation)             |
| **Operations allowed**                  | Add, remove, or change elements using methods like `.append()`, `.remove()`, `.pop()` | No modification after creation                             |
| **Performance**                         | Slightly slower (because of mutability)                                               | Faster (due to immutability)                               |
| **Memory usage**                        | Uses more memory                                                                      | Uses less memory                                           |
| **Hashable (usable as dictionary key)** | ❌ No                                                                                  | ✅ Yes (if it contains only immutable elements)             |
| **Iteration speed**                     | Slower                                                                                | Faster                                                     |
| **Common use case**                     | When data may need to change                                                          | When data should remain constant or used as a fixed record |