<a href="https://colab.research.google.com/github/aman-theanalyst/Data-Science-Journey/blob/main/Python/6_Set_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sets**

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

**Characterstics:**

*   Unindexed
*   Mutable
*   No Duplicates
*   Can't contain mutable data types

# Creating Set

In [4]:
# empty
s = set()
print(s)
print(type(s))

# 1D
s1 = {1,2,3}
print(s1)

# hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)

# using type conversion
s4 = set([1,2,3])
print(s4)

# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)

set()
<class 'set'>
{1, 2, 3}
{'hello', 1, (1, 2, 3), 4.5}
{1, 2, 3}
{1, 2, 3}

In [ ]:
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

In [5]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

# Accessing Item

In [6]:
# Can access item only by using loops

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

# Adding Item

*   add() - can be used to add only a single item
*   update() - add multiple items

In [8]:
# Creating a set
set1 = {1, 2, 3}

# Add one item
set1.add(4)

# Add multiple items
set1.update([5, 6])
print(set1)


print("-----------------------")

# using update - To add items from another set into the current set
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

# using update - it can be any iterable object (tuples, lists, dictionaries etc.
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
print(thisset)

{1, 2, 3, 4, 5, 6}
-----------------------
{'apple', 'pineapple', 'cherry', 'papaya', 'banana', 'mango'}
{'apple', 'cherry', 'kiwi', 'orange', 'banana'}

# Deleting

In [9]:
# remove() - only specified element

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")
print(thisset)

# If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [11]:
# discard() - removes a specified element from the set

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")
print(thisset)

# If the item to remove does not exist, discard() will not raise an error.

{'apple', 'cherry'}

In [17]:
# pop() - will remove a random item

thisset = {"apple", "banana", "cherry"}

y = thisset.pop()
print(y)
print(thisset)

apple
{'banana', 'cherry'}

In [20]:
# clear() - method empties the set [remove all elements]

thisset = {"apple", "banana", "cherry"}

thisset.clear()
print(thisset)

set()

In [19]:
# del keyword - will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset
# print(thisset)        this will raise error as set is deleted

NameError: name 'thisset' is not defined

You cannot directly edit or modify an element in a set in Python.

**Reason:** A set is an unordered collection of unique and immutable elements.   

That means:    

*   Elements have no fixed position/index.  
*   You cannot modify an element once it's inside the set.

# Join Set

In [23]:
# Union() or '|' -- returns a new set with all items from both sets (randomly combined).

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

set4 = set1 | set2
print(set4)

print("-------------------------------------------------------------------------------------")

# Can be used to join multiple sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset1 = set1.union(set3, set4)
print(myset1)

myset2 = set1 | set2 | set3 | set4
print(myset2)

{1, 'b', 2, 3, 'c', 'a'}
{1, 'b', 2, 3, 'c', 'a'}
-------------------------------------------------------------------------------------
{'apple', 'b', 'cherry', 'c', 'Elena', 'John', 'a', 'bananas'}
{'apple', 1, 2, 3, 'cherry', 'c', 'bananas', 'b', 'Elena', 'John', 'a'}

The **union() method** allows you to join a set with other data types, like lists or tuples.   
The **| operator** only allows you to join sets with sets, and not with other data types

---

Both **union()** and **update()** will exclude any duplicate items.

In [24]:
# Update () - inserts all items from one set into another.
# The update() changes the original set, and does not return a new set.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'c', 'a'}

In [27]:
# Intersection or '&' -- only contains the items that are present in both sets.
# keeps only duplicates

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

print("--------------------------------------------------------")

set1 = {"12", "5", "24"}
set2 = {"2", "5", "12"}

set3 = set1 & set2
print(set3)

{'apple'}
--------------------------------------------------------
{'5', '12'}

The **intersection() method** allows you to join a set with other data types, like lists or tuples.   
The **& operator** only allows you to join sets with sets, and not with other data types

In [28]:
# intersection_update() - will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
# Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [29]:
# difference() or '-' -- contain only the items from the first set that are not present in the other set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

print("-------------------------------------------------------------------------------------")

set1 = {"12", "5", "24"}
set2 = {"2", "5", "12"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}
-------------------------------------------------------------------------------------
{'24'}

The **difference() method** allows you to join a set with other data types, like lists or tuples.   
The **- operator** only allows you to join sets with sets, and not with other data types

In [30]:
# difference_update() - method to keep the items that are not present in both set
# It keep the items from the first set that are not in the other set

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [32]:
# symmetric_difference() or '^' - method will keep only the elements that are NOT present in both sets.
# Returns a new set

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

print("-------------------------------------------------------------------------------")

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'google', 'banana', 'microsoft'}
-------------------------------------------------------------------------------
{'cherry', 'google', 'banana', 'microsoft'}

In [2]:
# symmetric_difference_update() - keep the items that are not present in both sets
# Updates the original set

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'banana', 'microsoft', 'google'}

| Method         | Meaning             | Returns True When...    | Example                         |
| -------------- | ------------------- | ----------------------- | ------------------------------- |
| `isdisjoint()` | No common elements  | Sets share nothing      | `{1,2}.isdisjoint({3,4})` → ✅   |
| `issubset()`   | “Is A inside B?”    | All elements of A in B  | `{1,2}.issubset({1,2,3})` → ✅   |
| `issuperset()` | “Does A contain B?” | A has all elements of B | `{1,2,3}.issuperset({1,2})` → ✅ |

In [3]:
# isdisjoint() - Checks whether two sets have no elements in common.

a = {1, 2, 3}
b = {4, 5, 6}
c = {3, 4, 5}

print(a.isdisjoint(b))  # True  (no common element)
print(a.isdisjoint(c))  # False (3 is common)

True
False

In [10]:
# issubset() - Checks whether all elements of one set are contained in another set.

a = {1, 2}
b = {1, 2, 3, 4}

print(a.issubset(b))  # True  (a is inside b)
print(b.issubset(a))  # False


# Equivalent operator:

a <= b   # same as a.issubset(b)
a < b    # checks proper subset (a ⊂ b)

True
False

True

In [11]:
# issuperset() - Checks whether one set contains all elements of another set.

a = {1, 2, 3, 4}
b = {1, 2}

print(a.issuperset(b))  # True
print(b.issuperset(a))  # False

True
False

# Frozenset

A frozenset is just like a set, but it is immutable — meaning you can’t change it after creation.

✅ Supports all set operations like union, intersection, difference, etc.   
❌ Doesn’t allow adding or removing elements (add(), remove() don’t work).

In [12]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>